<?xml version="1.0"?>
<config>
    <modules>
        <Product_Createform>
            <version>0.1.0</version>
        </Product_Createform>
    </modules>
    <frontend>
        <routers>
            <createform>
                <use>standard</use>
                <args>
                    <module>Product_Createform</module>
                    <frontName>createform</frontName>
                </args>
            </createform>
        </routers>
        <layout>
            <updates>
                <createform>
                    <file>createform.xml</file>
                </createform>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<createform>
				<use>admin</use>
				<args>
					<module>Product_Createform</module>
					<frontName>createform</frontName>
				</args>
			</createform>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<createform module="createform">
				<title>Createform</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="createform">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>createform/adminhtml_createform</action>
					</items>
				</children>
			</createform>
		</menu> -->
		<acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <Product_Createform>
                                        <title>testimonial - All</title>
                                    </Product_Createform>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
		<layout>
			<updates>
				<createform>
					<file>createform.xml</file>
				</createform>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <createform>
                <class>Product_Createform_Model</class>
                <resourceModel>createform_mysql4</resourceModel>
            </createform>
            <createform_mysql4>
                <class>Product_Createform_Model_Mysql4</class>
                <entities>
                    <createform>
                        <table>createform</table>
                    </createform>
                </entities>
            </createform_mysql4>
        </models>
        <resources>
            <createform_setup>
                <setup>
                    <module>Product_Createform</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </createform_setup>
            <createform_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </createform_write>
            <createform_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </createform_read>
        </resources>
        <blocks>
            <createform>
                <class>Product_Createform_Block</class>
            </createform>
        </blocks>
        <helpers>
            <createform>
                <class>Product_Createform_Helper</class>
            </createform>
        </helpers>
    </global>
</config>